/********************************************************/
/*           stylesheet for Racingfan site              */
/*               author: Adri Barrios                   */
/*                   version: 1.0                       */
/*                  comment:project                     */
/********************************************************/

@font-face {
    font-family: 'Title';
    src: url('../fonts/SuperCar-OutlineExpMRDemo.otf') format('opentype');
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-size: cover;
    background-color: #888888;
    color: #ffffff; 
  }
  
  #wrapper {
    width: 80%;
    margin: 0 auto;
  }
  
  header {
    background-color: #333; 
    padding: 20px;
    text-align: center;
  }
  
  
  /*************navbar**************/
  
  #navbar {
    text-align: left;
    position: sticky;
    top:0;
    background-color: #333;
    z-index: 99;
    overflow: hidden;
    padding: 15px;
  }
  
  #navbar ul {
    list-style: none;
  }
  
  #navbar li {
    display: block;
  }
  #navbar a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1.5em;
    padding: 0%;
  }
  
  /* Cambia los colores con el raton encima */
  #navbar a:hover {
    background-color: #b1b1b1;
    color: black;
    }
  
    
  /* Esconde el menú desplegable */
  #navbar .icon {
    display: none;
    }
  
  /***********hero-section************/
  
  #hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh; 
    padding: 20px; 
    background-color: #636363;
    color: #fff;
    background-image: url('../img/title_image.avif');
    background-size: cover;
    background-position: center;
  }
  #hero-section h1 {
    font-family: Title;
    font-size: 1.5em;
    margin-bottom: 10px; 
  }
  
  #hero-section p {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  
  .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff5733;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
  
    /* content */
  
  #ferrari{
    font-family: 'Courier New', Courier, monospace;
    background-color: #740606;
    line-height: 180%;

  }

  #ferrari h3{
    text-align: center;
    font-size: 2em;
  }
  #ferrari h4{
    font-size: 1.7em;
    padding-left: 3%;
  }
  #ferrari p{
    font-size:1.1em;
    padding: 5px;
  }
  #ferrari img{
    display:block;
    width: 100%;
    padding: auto 5px;
  }

  
  /******* Footer *******/
  
  .page-wrapper
  {
    position: relative;
    bottom: 0;
    width: 100%;
    z-index: 11111;
    top: 35px;
  }
  
  footer p, footer strong, footer b, footer {
    color: #b0b0b0;
  }
  
  .footer-top {
    background: #303030;
    background-size: cover;
    background-position: center;
    padding: 0 0 20px;
    font-family: rubik;
  padding-top:30px;
  
  }
  
  .footer-top, .footer-bottom {
    background-color: #333;
  }
  
  .footer-bottom {
    padding: 15px 0;
    border-top: 1px solid #313646;
    background-color: #000000 !important;
    color: #b0b0b0;
    font-family: rubik;
    color: #99a9b5;
    padding-top: 15px;
  }
  
  .footer-site-info {
    font-size: 92.86%;
  }
  #footer-navigation, #footer-navigation li a:hover, .custom-footer, .custom-footer li a:hover {
    color: white;
  }
  
  #footer-navigation, #footer-navigation li a, .custom-footer, .custom-footer li a {
    color: #99a9b5;
    padding-top: 15px;
  }
  
  .footer-bottom ul {
    margin: 0;
  }
  .inline-inside {
    font-size: 0;
    line-height: 0;
  }
  .clearfix:after, .clearfix:before {
    content: "";
    display: table;
  }
  #footer-menu li {
    display: inline-block;
    padding: 0 21px;
    position: relative;
    line-height: 1;
  }
  
  #footer-navigation, #footer-navigation li a, .custom-footer, .custom-footer li a {
    color: #99a9b5;
    padding-top: 15px;
  }
  
  #footer-navigation, #footer-navigation li a, .custom-footer, .custom-footer li a {
    color: #99a9b5;
    padding-top: 15px;
  }
  #footer-menu li+li:before {
    content: '';
    width: 0;
    height: 100%;
    position: absolute;
    left: -1px;
    top: 0;
    font-size: 0;
    border-left: 1px solid #232234;
    border-right: 1px solid #333146;
  }
  
  
  navigation li a, .custom-footer, .custom-footer li a {
    color: #99a9b5;
    padding-top: 15px;
  }
  
  /*************** social media icons *******************/
  
  #footer-socials {
    text-align: right;
  }
  
  #footer-socials .socials {
    text-align: right;
    margin: 0 auto;
    display: inline-block;
    vertical-align: middle;
  }
  
  a.socials-item {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    margin: 0 5px;
    line-height: 16px;
    padding: 10px;
    border-radius: 50%;
    background-color: #000000;
    border: 1px solid #000000;
    
  }
  
  .socials-item {
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 1;
    font-size: 30px;
    text-align: center;
    vertical-align: top;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-weight: normal;
    text-rendering: auto;
  }
  
  .facebook {
    color: #4e64b5;
  }
  
  .twitter {
    color: #00aced;
  }
  .instagram {
    color: #9a8f62;
  }
  .youtube {
    color: #c82929;
  }
  
  .telegram {
    color: #2ca5e0;
  }
  
  
  
  
  .footer-bottom a:hover {
    color: white;
  }
  
  
  footer p, footer li {
    font-size: 15px;
    line-height: 22px;
  }
  
  
  .widget {
    margin-bottom: 50px;
  }
  
  .footer-title {
    margin-bottom: 40px;
    color: #fff;
    font-weight: 500;
    text-transform: capitalize;
    padding-bottom: 15px;
    font-size: 16px;
    position: relative;
  }
  
  .footer-title:after {
    width: 50px;
    background: #fff;
    opacity: 0.2;
    height: 1px;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
  }
  
  .gem-contacts-item {
    padding-top: 10px;
    font-size: 15px;
  }
  
  .gem-contacts-item i {
    padding-right: 10px;
  }
  
  footer .widget ul {
    list-style: none;
    margin-top: 5px;
  }
  
  .posts li {
    border-bottom: 1px solid #393d50;
    padding-bottom: 12px;
    padding-top: 6px;
  }
  
  footer p, footer li {
    font-size: 15px;
    line-height: 22px;
  }
  
  .gem-pp-posts-date {
    color: #00bcd4;
    font-size: 89.5%;
  }
  
  footer p {
    line-height: 24px;
    margin-bottom: 10px;font-size: 15px;
  }
  
  .wpcf7-form-control-wrap .wpcf7-form-control {
    padding: 7px!important;
    width: 100%;
  }
  
  .wpcf7-form-control-wrap input {
    background: #1c1f2f;
    overflow: hidden;
    border: 1px solid #2e344d;
    background-color: #1c1f2f;
    box-shadow: 10px 10px 36px rgb(0,0,0,0.5), -13px -13px 23px rgba(255,255,255, 0.03);
    border-radius: 5px;
    transition: all 0.3s ease-in-out 0s;
    color: white;
    max-width: 98.7%;
  }
  
  .wpcf7-form-control-wrap input:hover {
    background-color: transparent;
    box-shadow: 10px 10px 36px rgb(0,0,0,0.5), -13px -13px 23px rgba(255,255,255, 0.03), inset 14px 14px 70px rgb(0,0,0,0.2), inset -15px -15px 30px rgba(255,255,255, 0.04);
    border-color: rgba(255, 255, 255, 0.2);
    color: white;
  }
  
  .wpcf7 .wpcf7-form .contact-form-footer textarea {
    height: 160px;
    width: 100%;
    color: white;
  }
  
  .wpcf7-form-control-wrap textarea:hover {
    background-color: transparent;
    box-shadow: 10px 10px 36px rgb(0,0,0,0.5), -13px -13px 23px rgba(255,255,255, 0.03), inset 14px 14px 70px rgb(0,0,0,0.2), inset -15px -15px 30px rgba(255,255,255, 0.04);
    border-color: rgba(255, 255, 255, 0.2);
    color: white;
  }
  
  .wpcf7-form-control-wrap textarea {
    background: #1c1f2f;
    overflow: hidden;
    border: 1px solid #2e344d;
    background-color: #1c1f2f;
    box-shadow: 10px 10px 36px rgb(0,0,0,0.5), -13px -13px 23px rgba(255,255,255, 0.03);
    border-radius: 5px;
    transition: all 0.3s ease-in-out 0s;
    max-width: 98.7%;
  }
  
  textarea {
    overflow: auto;
    resize: vertical;
  }
  
  .wpcf7 .wpcf7-form .contact-form-footer .wpcf7-submit {
    width: 100%;
    padding: 11px;
    margin: 0;
    line-height: 0;
  }
  .wpcf7-form .contact-form-footer .wpcf7-submit {
    background-color: #394050;
    color: #99a9b5;
    border: none;
    cursor: pointer;
    padding: 15px 40px;
    font-size: 14px;
    font-weight: 400;
    transition: all 0.5s;
    letter-spacing: 2px;
    color: rgba(255,255,255,.5);
    box-shadow: none;
    text-transform: uppercase;
    outline: none !important;
    background-color: #1c1f2f;
    border-radius: 5px;
    min-width: 140px;
    /* box-shadow: 10px 10px 36px rgb(0,0,0,0.5), -13px -13px 23px rgba(255,255,255, 0.03), inset 14px 14px 70px rgb(0,0,0,0.2), inset -15px -15px 30px rgba(255,255,255, 0.04); */
    box-shadow: 3px 9px 16px rgb(0,0,0,0.4), -3px -3px 10px rgba(255,255,255, 0.06), inset 14px 14px 26px rgb(0,0,0,0.3), inset -3px -3px 15px rgba(255,255,255, 0.05);
    border-width: 1px 0px 0px 1px;
    border-style: solid;
    border-color: #2e344d;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .wpcf7-form input[type=submit] {
    height: 40px;
    line-height: 21px;
    padding: 10px 40px;
    font-size: 14px;
  }
  
  .posts li a {
    color: #99a9b5;
  }
  
  .wpcf7-form .contact-form-footer .wpcf7-submit:hover {
    box-shadow: 0 0px 20px rgba(84, 1, 74, 0.7);
    border-color: rgba(255, 6, 224, 0.61);
    background: linear-gradient(to right, rgba(255, 9, 9, 0.12941176470588237), #c000ffb5, rgba(255, 0, 94, 0.14));
    color: white;
  }
  
  img {
    border-style: none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
  }
  .widget_gallery a {
    display: inline-block;
  }
  footer .widget ul {
    list-style: none;
    margin-top: 5px;
  }
  .widget_gallery ul {
    padding-left: 0;
    display: table;
  }
  
  .widget_gallery.gallery-grid-4 li {
    width: 30%;
  }
  
  .footer-site-info
  {
  padding-top: 10px;
  }
  
  /********** responsive ***********/
  
  
  
  @media only screen and (width>550px) {
    #navbar li {
        display: block;
        margin-bottom: 10px;
    }
    #navbar a{
        padding: 1%;
    }
  
    #content{
        grid-template-columns: auto auto;
    }
    #content section {
        flex-basis: 100%; /* Una columna en pantallas muy pequeñas */
    }
    #hero-section h1{
        font-size: 2em;
    }
    #footer{
        grid-template-columns: auto auto auto;
    }
  }
  @media only screen and (width>780px) {
    #ferrari img{
      width: 30%;
    }
    .img1{
      float:right;
    }
    .img2{
      float:left;
    }
    #hero-section h1{
        font-size:3em;
    }
    #footer{
        grid-template-columns: auto auto auto;
    }
  }   
  
  
  /*********************************responsividad de topnav****************************************/
  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
  @media screen and (max-width: 900px) {
    .navbar a:not(:first-child) {display: none;}
    .navbar a:first-child {float:left;}
    #navbar a.icon {
        float: right;
        display: block;
    }
    }
    
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
    @media screen and (max-width: 900px) {
    #navbar.responsive {position: relative;}
    #navbar.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    #navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    }